.h1{
    color: white;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}
.h2 {
    color: white;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    font-size: 3.8em;
   }