.label {
    cursor: default;
}

.label {
    color: white;
}

.label, .legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.input, .input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}