.Cita:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Cita p {
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.Cita {
    padding: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    margin-bottom: 20px;
}

.Cita:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.Cita p span {
  font-weight: normal;
}